<!DOCTYPE html>
<html lang="ko"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultrq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
	<title th:text="직원가입"></title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link id="gwurl" th:data-contextPath="${@environment.getProperty('reactivegateway.url')}"/>
	<link id="gwurl4" th:data-contextPath="${@environment.getProperty('reactivegateway.url4')}"/>
</head>
<body>
	
<th:block layout:fragment="content">
	<h2>직원 가입</h2>
	<div>
		<form>
		<div>
			<div>아이디</div>
			<input id="id" type="text" name="id"/>
		</div>
		<div>
			<div>이름</div>
			<input id="name" type="text" name="name"/>
		</div>
			<input type="button" onclick="fn_save()" value="회원가입">
			<input type="button" onclick="fn_getform()" value="getForm">
		</form>
	</div>	
	<div id="getform"></div>
	
</th:block>	

<th:block layout:fragment="script">
	<script type="text/javascript">
		const GW_URL = document.querySelector("#gwurl").getAttribute("data-contextPath");
		const GW_URL4 = document.querySelector("#gwurl4").getAttribute("data-contextPath");
		
		function fn_save(){
				const id = $('#id').val();
				const name = $('#name').val();
				
				if(id == ''){
					alert('아이디를 입력해주세요');
					return;
				}
				if(name == ''){
					alert('이름을 입력해주세요');
					return;
				}
				
					const path = 'http://'+GW_URL+'/api/signup';
					const json = JSON.stringify({
						'id':id,
						'name':name
					})
					$.ajax({
						url:path,
						type:'POST',
						contentType:'application/json',
						data:json,
					})
					.done(function (result){
						alert('회원 가입 성공');
						console.log();
						location.href = "http://"+GW_URL+"/userlist"
					})
				};
			
			
			function fn_getform(){
			
					const id = $('#id').val();
							
					if(id == ''){
						alert('아이디를 입력해주세요');
						return;
					}
						const path = 'http://'+GW_URL+'/api/getform';
						const json = JSON.stringify({
							'id':id
						})
						$.ajax({
							url:path,
							type:'POST',
							contentType:'application/json',
							data:json,
						})
						.done(function (result){
							console.log(result);
							var str=""
							str=str+"<table><tr>"
							str=str+"<td>"+result.id+"</td><td>"+result.name+"</td>"
							str=str+"</tr></table>"
								
							$("#getform").html(str);
						})
				}
			
	</script>
</th:block>
</body>
</html>